@using GovUkDesignSystem.GovUkDesignSystemComponents
@model GovUkDesignSystem.GovUkDesignSystemComponents.PhaseBannerViewModel

<div class="govuk-phase-banner @(Model.Classes)"
     @(Html.Raw(Model.Attributes != null ? string.Join(" ", Model.Attributes.Select(a => a.Key + "=\"" + a.Value + "\"")) : ""))>

    <p class="govuk-phase-banner__content">

        @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/Tag.cshtml", new TagViewModel
           {
               Text = Model.Phase,
               Classes = "govuk-phase-banner__content__tag"
           }); }

        <span class="govuk-phase-banner__text">
            @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model); }
        </span>
    </p>
</div>