@using GovUkDesignSystem.Helpers
@model GovUkDesignSystem.GovUkDesignSystemComponents.InsetTextViewModel

<div class="govuk-inset-text @(Model.Classes)"
     id="@(Model.Id)"
     @(Html.Raw(Model.Attributes.ToTagAttributes()))>
    @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model); }
</div>