@using GovUkDesignSystem.GovUkDesignSystemComponents.SubComponents
@using GovUkDesignSystem.Helpers
@model GovUkDesignSystem.GovUkDesignSystemComponents.LabelViewModel

@{
    Func<object, object> componentAsHtml =
        @<text>
            <label class="govuk-label @( Model.Classes)"
                   @( Html.Raw(Model.Attributes.ToTagAttributes()))
                   for="@(Model.For)">
                @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model); }
            </label>
         </text>;
}

@{ await Html.RenderPartialAsync(
       "/GovUkDesignSystemComponents/SubComponents/PageHeadingHtml.cshtml",
       new PageHeadingHtml
       {
           ComponentAsHtml = componentAsHtml,
           IsPageHeading = Model.IsPageHeading
       }
    );
}