@model GovUkDesignSystem.GovUkDesignSystemComponents.LegendViewModel

<legend class="govuk-fieldset__legend @(Model.Classes)">
    @if (Model.IsPageHeading)
    {
        <h1 class="govuk-fieldset__heading">
            @{ await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model); }
        </h1>
    }
    else
    {
        await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model);
    }
</legend>
