@model GovUkDesignSystem.GovUkDesignSystemComponents.SummaryListRowActionViewModel

<dd class="govuk-summary-list__actions @Model?.Classes">
    @{
        if (Model != null && Model.Items != null && Model.Items.Count > 0)
        {
            foreach (var action in Model.Items)
            {
                <a class="govuk-link @action.Classes" href="@action.Href" @(Html.Raw( action.Attributes != null ? string.Join(" ", action.Attributes.Select(a => a.Key + "=\"" + a.Value + "\"")) : "" ))>
                    @{
                        await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", action);
                    }
                    <span class="govuk-visually-hidden"> @action.VisuallyHiddenText</span>
                </a>
            }
        }
    }
</dd>