@model GovUkDesignSystem.GovUkDesignSystemComponents.SummaryListRowActionViewModel

<dd class="govuk-summary-list__actions @Model?.Classes">
    @{
        if (Model != null && Model.Items != null && Model.Items.Count > 0)
        {
            for (var index = 0; index < Model.Items.Count; index++)
            {
                <a class="govuk-link @Model.Items[index].Classes" href="@Model.Items[index].Href" @(Html.Raw( Model.Items[index].Attributes != null ? string.Join(" ", Model.Items[index].Attributes.Select(a => a.Key + "=\"" + a.Value + "\"")) : "" ))>
                    @{
                        await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/HtmlText.cshtml", Model.Items[index]);
                    }
                    <span class="govuk-visually-hidden"> @Model.Items[index].VisuallyHiddenText</span>
                </a>
            }
        }
    }
</dd>