@model GovUkDesignSystem.GovUkDesignSystemComponents.SummaryListRowViewModel

<div class="govuk-summary-list__row @Model?.Classes">
    @{
        await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/SummaryListRowKey.cshtml", Model.Key);
        await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/SummaryListRowValue.cshtml", Model.Value);
        await Html.RenderPartialAsync("/GovUkDesignSystemComponents/SubComponents/SummaryListRowAction.cshtml", Model.Actions);
    }
</div>